main {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 20px;
}

.banner-section {
  position: absolute;
  width: calc(100% - 40px);
  height: 300px;
  border-radius: 30px;
  background-position-y: -350px;
  background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.layout {
  position: absolute;
  width: calc(100% - 40px);
  height: 300px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 3;
}
