<div class="bg">

  <form [formGroup]="form">
    <h2>Login</h2>

    <input
      formControlName="email"
      pInputText
      [pTooltip]="emailErrorText"
      placeholder="E-mail"
      tooltipPosition="top"
      type="text"
    />

    <input
      formControlName="password"
      pInputText
      [pTooltip]="passwordErrorText"
      placeholder="Password"
      tooltipPosition="top"
      type="password"
    />

    <p-button
      (click)="submit()"
      [disabled]="authService.loading()"
      class="submit-btn"
      label="Login"
      size="small"
    ></p-button>
  </form>
</div>
